<div style="text-align:center" id="titulo"><b>Consulta de Entregas</b></div>
<div class="container">
  <br />

  <div id="divFormConsulta">
    <!--
    <button class="btn btn-outline-primary" id="buttonExpandeFormConsulta" style='margin:10px' (click)='expandeFormConsulta()'>{{labelButtonForm}}</button> 
    -->

    <div id="formConsulta">
      <table style="width:680px!important;margin:auto;">
        <tr>
          <td style="padding:5px;">
            <input
              type="number"
              class="form-control"
              id="entregaId"
              (keyup.enter)="consultaPorEntregaId()"
              ngbTooltip="Digite o número da entrega e tecle enter"
              placeholder="Nº entrega"
              style="width:150px"
            />
          </td>
          <td style="padding:5px;">
            <select
              class="form-control"
              id="clinicaId"
              ngbTooltip="Escolha a clínica, mes e ano e clique em Consultar"
              style="width:200px"
            >
              <option value="" disabled>Clínica</option>
              <option value="todos">Todas as clínicas </option
              ><option *ngFor="let clinica of clinicas" [value]="clinica.id"
                >{{ clinica.nomeSimp }}
              </option></select
            >
          </td>
          <td width="2%" style="padding:5px;text-align: center;">e</td>
          <td>
            <input
              type="month"
              class="form-control"
              id="anoMes"
              style="width:200px"
              id="anoMes"
              [value]="anoMes"
            />
          </td>
          <td style="padding:5px;">
            <button
              class="btn btn-info btn-sm"
              style="margin:10px;"
              (click)="consultaPorClinica()"
            >
              Consultar
            </button>
          </td>
        </tr>

        <tr>
          <td colspan="5">
            <div
              style="color:green;font-size:14px;text-align: center;"
              id="divMgsEntregaId"
            >
              {{ mgsEntregaId }}
            </div>
            <div
              style="color:green;font-size:14px;text-align: center;"
              id="divMsgClinica"
            >
              {{ msgClinica }}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div>
    <div id="tabelaEntregas" style="display:none;margin-top:10px">
      <table class="table table-hover" style="text-align: center;">
        <thead>
          <tr>
            <th width="12%" colspan="3">Id</th>

            <th
              width="5%"
              scope="col"
              sortable="dataEmissao"
              (sort)="onSort($event)"
              style="text-align: center;cursor:pointer;"
            >
              Emissão
            </th>
            <th
              width="20%"
              scope="col"
              sortable="clinica.nomeSimp"
              (sort)="onSort($event)"
              style="text-align: center;cursor:pointer;"
            >
              Clínica
            </th>
            <th width="25%">
              Pedidos
            </th>
            <th
              width="10%"
              scope="col"
              sortable="totalEntrega"
              (sort)="onSort($event)"
              style="text-align: right;cursor:pointer;"
            >
              Valor Total
            </th>
            <th
              width="15%"
              scope="col"
              sortable="dataEntrega"
              (sort)="onSort($event)"
              style="text-align: right;cursor:pointer;"
            >
              Dt. Entrega
            </th>
            <th
              scope="col"
              sortable="recebedor"
              (sort)="onSort($event)"
              style="text-align: center;cursor:pointer;"
            >
              Recebedor
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entrega of entregas">
            <th width="5%">{{ entrega.id }}</th>
            <td width="5%">
              <i
                class="material-icons"
                style="cursor:pointer"
                (click)="abreModalEntrega(entrega.id)"
                title="Nota de entrega nº {{ entrega.id }}"
              >
                assignment</i
              >
            </td>
            <td width="2%">
              <div
                class="msgDetalheEntrega"
                id="msgDetalheEntrega_{{ entrega.id }}"
              >
                Aguarde um momento
              </div>
            </td>
            <td>{{ entrega.dataEmissao | date: "dd/MM/yyyy" }}</td>
            <td>{{ entrega.clinica.nomeSimp }}</td>
            <td>
              <table
                class="table table-sm table-bordered"
                style="font-size:12px"
                width="90%"
              >
                <tr *ngFor="let pedido of entrega.pedidos" height="20">
                  <td width="20%">{{ pedido.id }}</td>
                  <td width="50%">{{ pedido.nomePaciente }}</td>
                  <td style="text-align:right">
                    {{
                      pedido.valorLiquido
                        | currency: "BRL":"symbol":"0.2-2":"pt"
                    }}
                  </td>
                </tr>
              </table>
            </td>
            <td style="text-align: right;">
              {{ entrega.totalEntrega | currency: "BRL":"symbol":"0.2-2":"pt" }}
            </td>
            <td style="text-align:center">
              {{ entrega.dataEntrega | date: "dd/MM/yyyy" }}
            </td>

            <td>{{ entrega.recebedor }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="caixaNotaEntrega" style="display:none;">
    <app-nota-entrega
      [entregaSelecionadaInput]="entregaSelecionada"
      [nomeClinicaInput]="clinica.nomeSimp"
    ></app-nota-entrega>
  </div>
</div>
