<div style="text-align:center" id="titulo"><b>Consulta de Fechamento</b></div>
<br />
<div class="container">
  <div id="divFormConsulta">
    <!--
    <button
      class="btn btn-outline-primary"
      id="buttonExpandeFormConsulta"
      style="margin:10px"
      (click)="expandeFormConsulta()"
    >
      {{ labelButtonForm }}
    </button>
    -->
    <div id="formConsulta">
      <table style="width:680px!important;margin:auto;">
        <tr>
          <td style="padding:5px;">
            <input
              type="number"
              class="form-control"
              id="fechamentoId"
              (keyup.enter)="consultaPorFechamentoId()"
              ngbTooltip="Digite o número do fechamento e tecle enter"
              placeholder="Nº Fechamento"
              style="width:150px"
            />
          </td>
          <td style="padding:5px;">
            <select
              class="form-control"
              id="clinicaId"
              ngbTooltip="Escolha a clínica, mes e ano e clique em Consultar"
              style="width:200px"
            >
              <option value="" disabled>Por clínica</option>
              <option value="todos">Todas as clínicas </option
              ><option *ngFor="let clinica of clinicas" [value]="clinica.id"
                >{{ clinica.nomeSimp }}
              </option></select
            >
          </td>
          <td width="2%">e</td>
          <td style="padding:5px;">
            <input
              type="month"
              class="form-control"
              id="anoMes"
              style="width:200px"
              id="anoMes"
              [value]="anoMes"
            />
          </td>
          <td style="padding:5px;">
            <button
              class="btn btn-info btn-sm"
              (click)="consultaPorClinica()"
              style="margin:10px;"
            >
              Consultar
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="text-align: center;">
            <div
              style="color:green;font-size:14px;text-align: center;"
              id="divMgsFechamentoId"
            >
              {{ mgsFechamentoId }}
            </div>
            <div
              style="color:green;font-size:14px;text-align: center;"
              id="divMsgClinica"
            >
              {{ msgClinica }}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="tabelaFechamentos" style="display:none;margin-top:10px">
    <table class="table table-hover" style="text-align: center;">
      <thead>
        <tr>
          <th width="12%" colspan="3">Id</th>

          <th
            width="15%"
            sortable="dataFechamento"
            (sort)="onSort($event)"
            style="text-align: center;cursor:pointer;"
          >
            Data<br />Fechamento
          </th>
          <th
            width="15%"
            sortable="clinica.nomeSimp"
            (sort)="onSort($event)"
            style="text-align: center;cursor:pointer;"
          >
            Clínica
          </th>
          <th
            width="15%"
            sortable="valorTotal"
            (sort)="onSort($event)"
            style="text-align: center;cursor:pointer;"
          >
            Valor Total
          </th>
          <th
            width="15%"
            sortable="valorPgto"
            (sort)="onSort($event)"
            style="text-align: center;cursor:pointer;"
          >
            Valor Pago
          </th>
          <th>
            Entregas<br /><span style="font-size:11px"
              >(Número - Data Entrega - Valor)</span
            >
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fechamento of fechamentos">
          <th width="5%" style="text-align:center">{{ fechamento.id }}</th>
          <td width="5%" style="text-align:center">
            <i
              class="material-icons"
              style="cursor:pointer"
              title="Nota de Fechamento nº {{ fechamento.id }}"
              (click)="abreModalFechamento(fechamento.id)"
            >
              assignment</i
            >
          </td>
          <td width="2%">
            <div
              class="msgDetalhe"
              id="msgDetalheFechamento_{{ fechamento.id }}"
            >
              Aguarde um momento
            </div>
          </td>
          <td style="text-align:center">
            {{ fechamento.dataFechamento | date: "dd/MM/yyyy" }}
          </td>
          <td style="text-align:left">{{ fechamento.clinica.nomeSimp }}</td>
          <td style="text-align:right">
            {{ fechamento.valorTotal | currency: "BRL":"symbol":"0.2-2":"pt" }}
          </td>
          <td style="text-align:right">
            <div id="divValorPago_{{ fechamento.id }}">
              {{ fechamento.valorPgto | currency: "BRL":"symbol":"0.2-2":"pt" }}
            </div>
          </td>
          <td style="text-align:center">
            <table
              class="table table-sm table-bordered"
              style="font-size:12px"
              width="280px"
            >
              <tr *ngFor="let entrega of fechamento.entregas">
                <td
                  width="10%"
                  style="text-align:center;cursor:pointer;"
                  title="Nota de Entrega nº {{ entrega.id }}"
                  (click)="abreModalEntrega(entrega.id)"
                >
                  <i class="material-icons" style="font-size:12px">search </i>
                </td>

                <td
                  width="10%"
                  style="text-align:center;border-right: 1px solid #ffffff;"
                >
                  {{ entrega.id }}
                </td>
                <td width="2%" style="text-align:center">
                  <div
                    class="msgDetalhe"
                    id="msgDetalheEntrega_{{ entrega.id }}"
                  >
                    Aguarde um momento
                  </div>
                </td>
                <td width="39%" style="text-align:center">
                  {{ entrega.dataEntrega | date: "dd/MM/yyyy" }}
                </td>
                <td width="39%" style="text-align:center">
                  {{
                    entrega.totalEntrega | currency: "BRL":"symbol":"0.2-2":"pt"
                  }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="caixaNotaFechamento" style="display:none;">
    <app-nota-fechamento
      [fechamentoSelecionadoInput]="fechamentoSelecionado"
      [nomeClinicaInput]="clinica.nomeSimp"
    >
    </app-nota-fechamento>
  </div>

  <div id="caixaNotaEntrega" style="display:none;">
    <app-nota-entrega
      [entregaSelecionadaInput]="entregaSelecionada"
      [nomeClinicaInput]="clinica.nomeSimp"
    ></app-nota-entrega>
  </div>
</div>
