<div style='text-align:center' id='titulo'><b>Consulta de Fechamento</b></div><br>
<div class='container'>
 <br>   
 
<div id='divFormConsulta' >
    <button class="btn btn-outline-primary" id="buttonExpandeFormConsulta" style='margin:10px' (click)='expandeFormConsulta()'>{{labelButtonForm}}</button> 
    <div id='formConsulta'>
        <div class="row">
            <div class="col-md-6"> 
                <input type='number' class='form-control'  id="fechamentoId" (keyup.enter)="consultaPorFechamentoId()" ngbTooltip="Digite o número do fechamento e tecle enter" placeholder="Por número de fechamento" style='width:300px;margin:10px'>
                <div style='color:green;font-size:14px;text-align: center;' id='divMgsFechamentoId'>{{mgsFechamentoId}}</div>   
             </div>
             <div class="col-md-6">
                <select class='form-control' id="clinicaId"  ngbTooltip="Escolha a clínica, mes e ano e clique em Consultar" style='width:300px;margin:10px'>
                    <option value='' disabled>Por clínica</option>
                    <option value='todos'>Todas as clínicas
                    <option *ngFor='let clinica of clinicas' [value]='clinica.id'>{{clinica.nomeSimp}}
                </select>  
                <input type="month" class='form-control' id="anoMes" style='width:300px;margin:10px' id='anoMes' [value]='anoMes'> 
                <button class="btn btn-info btn-sm" style='margin:10px;'>Consultar</button>  
                <div style='color:green;font-size:14px;text-align: center;' id='divMsgClinica'>{{msgClinica}}</div> 
            </div>
        </div>
        
        
</div> 
</div>

<div style='padding:15px; text-align: center; border:1px solid #000;width:630px;display:none' id='caixaNotaFechamento'>
    <table style='width: 600px !important;margin: auto;'>
        <tr>
            <td width='90px'><img src="http://www.detalheprotetico.com.br/img/logo_detalhe_web.png" width='80px'/></td>
            <td style='text-align:center;font-family: Arial, Helvetica, sans-serif;font-size:14px;color:#000099'><b>FECHAMENTO nº {{fechamentoSelecionado.id}} <br/>({{clinica.nomeSimp}})</b></td>
        </tr>        
    </table>
     
    <br>
    <table style='width: 600px !important;margin: auto;font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;border:1px solid #ccc; font-size:14px;padding:5px;text-align:left; ' >
        <tr height="30" style='border-bottom:1px solid #ccc;text-align:center;'>
            <td colspan="4" style='text-align:center'><b>ENTREGAS</b></td>
        </tr>
        <tr height="20" style='border-bottom:1px solid #ccc;text-align:center;'>
            <td width="10%"></td>
            <td width="20%" style='text-align: center;'><b>Data</b></td>
            
            <td width="20%" style='text-align: center;'><b>Total</b></td>
            <td width="50%" style='text-align: center;'><b>Pedidos</b><br><span style='font-size:11px'>(Número - Paciente - Valor)</span></td>
         </tr>

        
         <tr *ngFor='let entrega of fechamentoSelecionado.entregas' style='border-bottom:1px solid #ccc;'>
             <td style='text-align:center'>{{entrega.id}}</td>
             <td style='text-align:center'>{{entrega.dataEntrega | date:'dd/MM/yyyy'}}</td>  
             <td style='text-align: center;'>
                 {{entrega.totalEntrega | currency:'BRL':'symbol':'0.2-2':'pt'}}
            </td>  
             <td style='padding: 10px;'>
                <table class='table table-sm table-bordered' style='font-size:12px;' width="250px">
                    <tr *ngFor="let pedido of entrega.pedidos">
                       <td width='20%'>{{pedido.id}}</td>
                       <td width='40%'>{{pedido.nomePaciente}}</td>
                       <td style='text-align:right'>{{pedido.valorLiquido | currency:'BRL':'symbol':'0.2-2':'pt'}}</td>        
                    </tr>    
                </table>   

             </td> 
             
         </tr>
    </table>
<br>    
<p style='text-align:center;font-family: Arial, Helvetica, sans-serif;'><b>Valor Total do Fechamento:</b> {{fechamentoSelecionado.valorTotal | currency:'BRL':'symbol':'0.2-2':'pt'}}    
           
</div> 
