<div style='padding:15px; text-align: center; border:1px solid #000;width:630px;display:none;' id='caixaNotaEntrega'>
    <table style='width: 600px !important;margin: auto;'>
        <tr>
            <td width='90px'><img src="http://www.detalheprotetico.com.br/img/logo_detalhe_web.png" width='80px'/></td>
            <td style='text-align:center;font-family: Arial, Helvetica, sans-serif;font-size:14px;color:#000099'><b>NOTA DE ENTREGA nº {{entregaSelecionada.id}} <br/>({{nomeClinicaSelecionada}})</b></td>
        </tr>        
    </table>
    
    
    <br>
    <div *ngFor="let pedido of entregaSelecionada.pedidos">
        <table style='width: 600px !important;margin: auto; font-family: Arial, Helvetica, sans-serif;font-size:12px; text-align:left;'>
            <tr height="20">
                <td style='text-align: center;' colspan='4'><b>PEDIDO nº {{pedido.id}}</b></td>
            </tr>   
            <tr height="30">
                <td width='100'><b>Data Pedido</b></td>    
                <td>{{pedido.dataPedido | date:'dd/MM/yyyy'}}</td>    
            </tr>
                   
            <tr height="30">
                <td ><b>Dentista</b></td>    
                <td >{{pedido.dentista}}</td>    
            </tr>
            <tr height="30">
                <td ><b>Paciente</b></td>    
                <td >{{pedido.nomePaciente}}</td>    
            </tr>
        </table>
        <table style='width: 600px !important;margin: auto;font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;border:1px solid #ccc; font-size:12px;padding:5px;text-align:left; ' >
            <tr height="30" style='border-bottom:1px solid #ccc;text-align:center;'>
                <td width="10%"></td>
                <td width="40%" style='text-align: center;'><b>Derscrição</b></td>
                <td width="20%" style='text-align: center;'><b>Valor Unitário</b></td>
                <td width="10%" style='text-align: center;'><b>Qde</b></td>
                <td width="20%" style='text-align: center;'><b>Total</b></td>
             </tr>
             <tr height="30" *ngFor="let item of pedido.itens; let i= index; " style='border-bottom:1px solid #ccc;'>
                <td style='text-align: center;'>{{i + 1}}</td>
                <td>{{item.descricao}}</td>
                <td style='text-align: right;padding-right:5px'>R$ {{item.valorUnitario | number : '1.2-2'}}</td>
                <td style='text-align: center;'>{{item.qde}}</td>
                <td style='text-align: right;padding-right:5px'>R$ {{item.valorTotal | number : '1.2-2'}}</td>
             </tr> 
             <tr height="30" style='border-bottom:1px solid #ccc;'>
                <td  colspan='4'><b>Valor Total</b></td>
                <td style='text-align: right;padding-right:5px'><b>R$ {{pedido.valorTotal | number : '1.2-2' }}</b></td>
                
            <tr>
            <tr height="30" *ngIf="pedido.desconto > 0" style='border-bottom:1px solid #ccc;'>
                <td colspan='4'><b>Desconto ({{pedido.desconto}} %)</b></td>
                <td style='text-align: right;padding-right:5px'><b>R$ {{pedido.valorTotal - pedido.valorLiquido | number : '1.2-2' }}</b></td>
                   
            </tr> 
            <tr height="30" *ngIf="pedido.desconto > 0">
                <td colspan='4'><b>Valor Total Líquido</b></td>
                <td style='text-align: right;padding-right:5px'><b>R$ {{pedido.valorLiquido | number : '1.2-2'}}</b></td>
                    
            </tr>      
        </table>
              <br>
    </div>    
    <br>
    <br>
    <div style='text-align: left; font-size:14px;font-family: Arial;width:600px !important;margin: auto;margin-bottom:20px'><b>Valor total dos pedidos:</b>R$ {{totalEntregaSelecionada | number : '1.2-2' }}</div>

    <div style='text-align: left; font-size:14px;font-family: Arial;width:600px !important;margin: auto;margin-bottom:20px'><b>Data da entrega:</b> ___/___/________</div>

    <div style='text-align: left; font-size:14px;font-family: Arial;width:600px !important;margin: auto;'><b>Nome legível:</b>___________________________________________</div>
    
    </div>





<div style='text-align:center' id='titulo'><b>Entregas</b></div><br>
<div class="container">
<div class="alert alert-info" id='divAguardarDados'>Aguarde enquanto os dados estão sendo carregados</div>
<div>
    <table class='table table-dark' style='text-align: center;'>
        <tr>
        <td width="10%" >Id</td>

        <td width='10%'>Emissão</td>
        <td width='40%'>Pedidos</td>
        <td width='15%'>Valor Total</td>
        <td width='15%'>Recebedor</td>
        <td width='10%'>Fechamento</td>
        </tr>
    </table> 

    <div *ngFor="let clinica of clinicasComEntregas">
        <div style='margin-bottom:20px;color:#000099;font-size:18px;text-align:center'>{{clinica.nomeSimp}}</div>

        <table class='table table-hover'>
            <tr *ngFor="let entrega of entregas">
                <td *ngIf="entrega.clinicaId == clinica.id" width="5%">{{entrega.id}}</td>
                <td *ngIf="entrega.clinicaId == clinica.id" width="5%"><i class="material-icons" style="cursor:pointer" (click)="abreModalEntrega(entrega.id,clinica.nomeSimp )"> assignment</i></td>
                <td *ngIf="entrega.clinicaId == clinica.id" width='10%'>{{entrega.dataEntrega | date:'dd/MM/yyyy'}}</td>
                <td *ngIf="entrega.clinicaId == clinica.id" width='40%'>
                      <table style='font-size:12px' width="90%">
                          <tr *ngFor="let pedido of entrega.pedidos" height='20'>
                             <td style='border:none !important;' width='20%'>{{pedido.id}}</td>
                             <td style='border:none !important;' width='50%'>{{pedido.nomePaciente}}</td>
                             <td style='border:none !important;text-align:right'>R$ {{pedido.valorLiquido | number : '1.2-2'}}</td>        
                          </tr>    
                      </table>      
                </td>
                <td *ngIf="entrega.clinicaId == clinica.id" width='15%'>--</td>
                <td *ngIf="entrega.clinicaId == clinica.id" width='15%'>--</td>
                <td *ngIf="entrega.clinicaId == clinica.id" width='10%'>--</td>
            </tr>
        </table>        

    </div>




</div>
