<div style='padding:15px; text-align: center; border:1px solid #000;width:630px;display:none;' id='caixaNotaEntrega'>
    <table style='width: 600px !important;margin: auto;'>
        <tr>
            <td width='90px'><img src="http://www.detalheprotetico.com.br/img/logo_detalhe_web.png" width='80px'/></td>
            <td style='text-align:center;font-family: Arial, Helvetica, sans-serif;font-size:14px;color:#000099'><b>NOTA DE ENTREGA nº {{entregaSelecionada.id}} <br/>({{nomeClinicaSelecionada}})</b></td>
        </tr>        
    </table>
    
    
    <br>
    <div *ngFor="let pedido of entregaSelecionada.pedidos">
        <table style='width: 600px !important;margin: auto; font-family: Arial, Helvetica, sans-serif;font-size:12px; text-align:left;'>
            <tr height="20">
                <td style='text-align: center;' colspan='4'><b>PEDIDO nº {{pedido.id}}</b></td>
            </tr>   
            <tr height="20">
                <td width='100'><b>Data Pedido</b></td>    
                <td>{{pedido.dataPedido | date:'dd/MM/yyyy'}}</td>    
            </tr>
                   
            <tr height="20">
                <td ><b>Dentista</b></td>    
                <td >{{pedido.dentista}}</td>    
            </tr>
            <tr height="20">
                <td ><b>Paciente</b></td>    
                <td >{{pedido.nomePaciente}}</td>    
            </tr>
        </table>
        <table style='width: 600px !important;margin: auto;font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;border:1px solid #ccc; font-size:12px;padding:5px;text-align:left; ' >
            <tr height="30" style='border-bottom:1px solid #ccc;text-align:center;'>
                <td width="10%"></td>
                <td width="40%" style='text-align: center;'><b>Derscrição</b></td>
                <td width="20%" style='text-align: center;'><b>Valor Unitário</b></td>
                <td width="10%" style='text-align: center;'><b>Qde</b></td>
                <td width="20%" style='text-align: center;'><b>Total</b></td>
             </tr>
             <tr height="20" *ngFor="let item of pedido.itens; let i= index; " style='border-bottom:1px solid #ccc;'>
                <td style='text-align: center;'>{{i + 1}}</td>
                <td>{{item.descricao}}</td>
                <td style='text-align: right;padding-right:5px'> {{item.valorUnitario | currency:'BRL':'symbol':'0.2-2':'pt'}}</td>
                <td style='text-align: center;'>{{item.qde}}</td>
                <td style='text-align: right;padding-right:5px'> {{item.valorTotal | currency:'BRL':'symbol':'0.2-2':'pt'}}</td>
             </tr> 
             <tr height="20" style='border-bottom:1px solid #ccc;'>
                <td  colspan='4'><b>Valor Total</b></td>
                <td style='text-align: right;padding-right:5px'><b> {{pedido.valorTotal | currency:'BRL':'symbol':'0.2-2':'pt' }}</b></td>
                
            <tr>
            <tr height="20" *ngIf="pedido.desconto > 0" style='border-bottom:1px solid #ccc;'>
                <td colspan='4'><b>Desconto ({{pedido.desconto}} %)</b></td>
                <td style='text-align: right;padding-right:5px'><b> {{pedido.valorTotal - pedido.valorLiquido | currency:'BRL':'symbol':'0.2-2':'pt' }}</b></td>
                   
            </tr> 
            <tr height="20" *ngIf="pedido.desconto > 0">
                <td colspan='4'><b>Valor Total Líquido</b></td>
                <td style='text-align: right;padding-right:5px'><b> {{pedido.valorLiquido | currency:'BRL':'symbol':'0.2-2':'pt'}}</b></td>
                    
            </tr>      
        </table>
              <br>
    </div>    
    <br>
    <br>
    <div style='text-align: left; font-size:14px;font-family: Arial;width:600px !important;margin: auto;margin-bottom:20px'><b>Observações:</b> {{entregaSelecionada.obs }}</div>


    <div style='text-align: left; font-size:14px;font-family: Arial;width:600px !important;margin: auto;margin-bottom:20px'><b>Valor total da entrega:</b> {{totalEntregaSelecionada | currency:'BRL':'symbol':'0.2-2':'pt' }}</div>
    <div *ngIf="!entregaSelecionada.recebedor">
    <div style='text-align: left; font-size:14px;font-family: Arial;width:600px !important;margin: auto;margin-bottom:20px'><b>Data da entrega:</b> ___/___/________</div>

    <div style='text-align: left; font-size:14px;font-family: Arial;width:600px !important;margin: auto;'><b>Nome legível:</b>___________________________________________</div>
    </div>

    <div *ngIf="entregaSelecionada.recebedor">
        <div style='text-align: left; font-size:14px;font-family: Arial;width:600px !important;margin: auto;margin-bottom:20px'><b>Data da entrega:</b> {{entregaSelecionada.dataEntrega | date:'dd/MM/yyyy' }}</div>
    
        <div style='text-align: left; font-size:14px;font-family: Arial;width:600px !important;margin: auto;'><b>Recebedor:</b> {{entregaSelecionada.recebedor}}</div>
        </div>

    </div>

    <ng-template #conferenciaFechamento  let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Fechamento - {{clinica.nomeSimp}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
         
         <table class='table table-hover'>
          <tr style='color:#000099'>
            <td style='text-align: center;' width='10%'><b>Id</b></td>
            <td width='40%' style='text-align:center;'><b>Pedidos</b></td>
            <td width='30%' style='text-align:center;'><b>Valor Total</b></td>
            <td width='20%' style='text-align:center;'><b>Dt. Entrega</b></td>
           
        </tr>
           
            <tr *ngFor="let entrega of entregasCheckadas">
            <td width='5%' *ngIf="clinica.id == entrega.clinicaId" style='text-align: center;;cursor:pointer' >{{entrega.id}}</td>
            <td *ngIf="clinica.id == entrega.clinicaId" width='40%'>
                <table class='table table-sm table-bordered' style='font-size:12px' width="90%">
                    <tr *ngFor="let pedido of entrega.pedidos">
                       <td width='20%'>{{pedido.id}}</td>
                       <td width='50%'>{{pedido.nomePaciente}}</td>
                       <td style='text-align:right'> {{pedido.valorLiquido | currency:'BRL':'symbol':'0.2-2':'pt'}}</td>        
                    </tr>    
                </table>  

            </td>
            <td *ngIf="clinica.id == entrega.clinicaId" width='20%' style='text-align: right'>{{entrega.totalEntrega | currency:'BRL':'symbol':'0.2-2':'pt'}}</td>
            <td *ngIf="clinica.id == entrega.clinicaId" width='20%' style='text-align: center;'>{{entrega.dataEntrega | date:'dd/MM/yyyy'}}</td>
          
            </tr> 
            <tr>
                <td colspan='2' ><b>Total Fechamento</b></td>    
                <td style='text-align:right'>{{totalFechamento | currency:'BRL':'symbol':'0.2-2':'pt'}}</td>
                <td></td>
            </tr>    
         </table>
         <br>
         <table class='table'>
         
            <tr height="30">
              <td style='border:none !important;'>Obs</td>
              <td style='border:none !important;'><input type='text' [(ngModel)]='obs' class='form-control'></td>
            </tr>  
         </table>
         <br>
         
       </div>
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-info btn-sm" (click)="modal.close('Close click')">Fechar</button>
        <button type="button" class="btn btn-info btn-sm" [disabled]="disabledConfFechamento" (click)="confirmarFechamento(clinica.id); ">{{labelConfFechamento}}</button>
      </div>
      
      </ng-template>
        
      <br>    




<div style='text-align:center' id='titulo'><b>Entregas</b></div><br>
<div class="container">
<div class="alert alert-info" id='divAguardarDados'>Aguarde enquanto os dados estão sendo carregados</div>
<div>
    <table class='table table-dark' style='text-align: center;'>
        <tr>
        <td width="10%" colspan='2' >Id</td>

        <td width='10%'>Emissão</td>
        <td width='25%'>Pedidos</td>
        <td width='10%'>Valor Total</td>
        <td width='20%'>Dt. Entrega</td>
        <td width='20%'>Recebedor</td>
        <td width='5%'></td>
        </tr>
    </table> 

    <div *ngFor="let clinica of clinicasComEntregas">
        <div style='margin-bottom:20px;color:#000099;font-size:18px;text-align:center'>{{clinica.nomeSimp}}</div>

        <table class='table table-hover'>
            <tr *ngFor="let entrega of entregas">
                <td *ngIf="entrega.clinicaId == clinica.id" width="5%">{{entrega.id}}</td>
                <td *ngIf="entrega.clinicaId == clinica.id" width="5%"><i class="material-icons" style="cursor:pointer" (click)="abreModalEntrega(entrega.id,clinica.nomeSimp )" title='Nota de entrega nº {{entrega.id}}'> assignment</i></td>
                <td *ngIf="entrega.clinicaId == clinica.id" width='10%'>{{entrega.dataEmissao | date:'dd/MM/yyyy'}}</td>
                <td *ngIf="entrega.clinicaId == clinica.id" width='25%'>
                      <table class='table table-sm table-bordered' style='font-size:12px' width="90%">
                          <tr *ngFor="let pedido of entrega.pedidos" height='20'>
                             <td width='20%'>{{pedido.id}}</td>
                             <td width='50%'>{{pedido.nomePaciente}}</td>
                             <td style='text-align:right'> {{pedido.valorLiquido | currency:'BRL':'symbol':'0.2-2':'pt'}}</td>        
                          </tr>    
                      </table>      
                </td>
                <td *ngIf="entrega.clinicaId == clinica.id" style='text-align: right;' width='10%'>{{entrega.totalEntrega | currency:'BRL':'symbol':'0.2-2':'pt'}}</td>
                <td *ngIf="entrega.clinicaId == clinica.id" width='20%' style='text-align:center'>
                    <div [ngStyle]="{'display':entrega.recebedor ? '' : 'none' }" id='dataComRecebedor_{{entrega.id}}'>{{entrega.dataEntrega | date:'dd/MM/yyyy'}}</div>
                    <div [ngStyle]="{'display':entrega.recebedor ? 'none' : '' }" id='dataSemRecebedor_{{entrega.id}}'><input type='date' id='dataRecebedor_{{entrega.id}}' [value]='dadosIniciais.dataHoje' class='form-control'></div>
                </td>
                <td *ngIf="entrega.clinicaId == clinica.id" width='20%'>
                    <div [ngStyle]="{'display':entrega.recebedor ? '' : 'none' }" id='nomeComRecebedor_{{entrega.id}}'>{{entrega.recebedor}}</div>
                    <div [ngStyle]="{'display':entrega.recebedor ? 'none' : '' }" id='nomeSemRecebedor_{{entrega.id}}'><input type='text' id='textRecebedor_{{entrega.id}}' (keyup.enter)="cadastraRecebedor(entrega.id)" class='form-control' ></div>

                </td>
                <td *ngIf="entrega.clinicaId == clinica.id" width='5%' syle='text-align:center'>
                    <div [ngStyle]="{'display':entrega.recebedor ? '' : 'none' }"  id='checkComRecebedor_{{entrega.id}}'><input type='checkbox' id='checkEntrega_{{entrega.id}}' (click)="checkEntrega(clinica.id, entrega.id)"></div> 
                    <div [ngStyle]="{'display':entrega.recebedor ? 'none' : '' }"  id='checkSemRecebedor_{{entrega.id}}'></div>     


                </td>
            </tr>
        </table>
        <div style='display:none;text-align:right' id="botaoRegistrarFechamento_{{clinica.id}}" ><button  class='btn btn-info btn-sm' (click)="conferirFechamento(clinica.id, conferenciaFechamento)">Registrar Fechamento</button></div>        

    </div>




</div>
